extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "О нас"

block content
    include ../chunks/header 

    h1.title О нас

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo earum minus aliquid laborum voluptatum eveniet similique! Quos quibusdam, adipisci fuga voluptates dignissimos tempore sequi nulla, voluptatem nam odit officiis dolore!

    include ../chunks/footer 

block scripts