@font-face {
	font-family: Yaahowu;
	font-display: swap;
	src: url("../fonts/Yaahowu-Bold.woff2") format("woff2"), url("../fonts/Yaahowu-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Yaahowu;
	font-display: swap;
	src: url("../fonts/Yaahowu-Light.woff2") format("woff2"), url("../fonts/Yaahowu-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Yaahowu;
	font-display: swap;
	src: url("../fonts/Yaahowu.woff2") format("woff2"), url("../fonts/Yaahowu.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: akrobat;
	font-display: swap;
	src: url("../fonts/akrobat-bold.woff2") format("woff2"), url("../fonts/akrobat-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
